code[class * =language-], pre[class * =language-] {
    color: #f8f8f2;
    background: 0 0;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Monaco, Andale Mono, Ubuntu Mono, Courier, monospace;
    font-size: 1.1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens:none
}

pre[class * =language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius:.3em
}

:not(pre) > code[class * =language-], pre[class * =language-] {
    background:#202025
}

:not(pre) > code[class * =language-] {
    padding: .1em;
    border-radius: .3em;
    white-space:normal
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
    color:#708090
}

.token.punctuation {
    color:#f8f8f2
}

.namespace {
    opacity:.7
}

.token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
    color:#f92672
}

.token.boolean, .token.number {
    color:#ae81ff
}

.token.string {
    color:#fc5661
}

.token.attr-name, .token.char, .token.inserted, .token.selector {
    color:#66daff
}

.token.builtin {
    color:#e0b8ff
}

.token.interpolation {
    color:#56d0b3
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url, .token.variable {
    color:#f8f8f2
}

.token.atrule, .token.attr-value {
    color:#e6db74
}

.token.class-name {
    color:#76e6ff
}

.token.function {
    color:#54dcfc
}

.token.keyword {
    color: #f2248c;
    font-weight:700
}

.token.important, .token.regex {
    color:#fd971f
}

.token.bold, .token.important {
    font-weight:700
}

.token.italic {
    font-style:italic
}

.token.entity {
    cursor: help
}
