/* Navbar */

.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 1.5rem 0;
}

.navbar .horizontal-menu {
    display: flex;
    gap: 0.5rem;
}

.navbar .horizontal-menu a {
    display: inline-block;
    line-height: 1em;
    padding: 0.2em 0;
}

.navbar .horizontal-menu .divider:last-child {
    display: none;
}

/* Splash */

.splash {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    text-align: center;
}

/* Toggle - Theme */

button.toggle-theme {
    background: none;
    border: none;
    color: var(--button-text-color);
    display: block;
    font-size: 2rem;
    padding: 0.2em 0.2em;
    box-sizing: border-box;
}

button.toggle-theme.fixed {
    position: fixed;
    right: 40px;
    top: 40px;
}

button.toggle-theme:hover {
    color: var(--accent-color);
    cursor: pointer;
}

[data-theme="light"] button.toggle-theme:hover {
    color: var(--purple);
}

[data-theme="dark"] button.toggle-theme:hover {
    color: var(--yellow);
}

/* Theme Compatibility */

/* Dark is our default theme, so we only need to tweak light-mode-only. */
.light-mode-only {
    display: none;
}

[data-theme="light"] .light-mode-only {
    display: initial;
}

[data-theme="light"] .dark-mode-only {
    display: none;
}